<table class="content">
  <tr>
    <th valign="top">文章标题</th>
    <td><%= form.text_field :title, :class => 'title' %></td>
  </tr>
  <tr>
    <th valign="top">文章内容</th>
    <td>
      <%= form.text_area :content %>
    </td>
  </tr>
  <tr>
    <th valign="top">Tag</th>
    <td>
      <%= form.text_field :user_tags, :placeholder => '用逗号分开，不超过3个，Tag必须是字母数字空格下划线或中文' %>
      <div class="tag">
        <% Blog.cached_tag_cloud.each do |tag| %>
          <a href="#" class="tag" rel="tag"><span><%= tag %></span></a><!-- 此处的JS代码没能起到作用 -->
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th></th>
    <td align="center">
      <%= form.submit '', :class => 'submit' %>
    </td>
  </tr>
</table>