<div class="con">
  <div class="tit clearfix">
    <%= link_to blog.title, blog_path(blog) %>
     </div>
  <div class="text">
    <div class="infor_tag">    
      <% blog.cached_tags.each do |tag| %>
        <%= link_to "<span>#{tag}</span>".html_safe, tag_path(tag), :class => 'tag', :rel => 'tag' %>
      <% end %>
    </div>
    <%= blog.content.truncate(300) %>
  </div>
  <div class="info clearfix">
    <div class="fr">
      <span class="author"><%= blog.account.name %></span>
      <span class="time"><%= time_ago_in_words(blog.created_at) %>前发表</span>
      <span class="views" title="浏览次数"><%= blog.view_count %>次浏览</span>
      <span class="comment" title="评论数"><%= blog.comments_count.to_s %></span>
    </div>
  </div>
</div>