<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title><%= @title ? "#{@title} - #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title'] %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% unless account_login? %>
<%= link_to '登录', main_app.login_path %>
        <% else -%>
          <%= current_account.name %>
          <%= link_to '写文章', '#' %>
          <%= link_to '管理', '#' %>
          <%= button_to '退出', logout_path, method: :delete %>
        <% end %>
<body>
<%= yield %>
</body>
</html>