<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
  <title><%= @title ? "#{@title} - #{APP_CONFIG['site_title']}" : APP_CONFIG['site_title'] %></title>
  <meta name="description" content="范凯个人网站，发表个人原创的博客文章和学习笔记，包括互联网产品，研发和运营类的文章">
    <meta name="author" content="Robbin Fan">
    <link href="/rss" rel="alternate" title="robbin的自言自语" type="application/rss+xml" />
    <link href="/stylesheets/default/document.css?1380098454" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/default/content.css?1376392757" media="screen" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="flash-notice"></div>
    <div class="header">
      <div class="wrap">
        <div class="user_img"><img src="/website.jpg" width="80" height="80" alt="website icon"></div>
        <div class="blog_title"><%= APP_CONFIG['site_title'] %></div>
        <div class="write">
<% unless account_login? %>
<%= link_to '登录', main_app.login_path %>
        <% else -%>
          <%= current_account.name %>
          <%= link_to '写文章', admin_blog_new_path %>
          <%= link_to '管理', '#' %>
          <%= button_to '退出', logout_path, method: :delete %>
        <% end %>
                </div>
        <div class="blog_motto"><%= APP_CONFIG['site_motto'] %></div>
      </div>
    </div><!-- header -->
    <div class="nav">
      <div class="wrap clearfix">

        <ul>
          <li><a href="/" <%= "class='current'".html_safe if @nav == 'home' %>>首页</a></li>
          <li><a href="/blog" <%= "class='current'".html_safe if @nav == 'blog' %>>博客</a></li>
           <li><a href="/" <%= "class='current'".html_safe if @nav == 'me' %>>关于</a></li>
        </ul>
      </div>
    </div><!-- nav -->
    <div class="wrap clearfix">
<%= yield %>
</div>
<div class="footer">
      <a href="http://weibo.com/robbinfan" class="weibo">Weibo</a>
      <a href="https://github.com/robbin" class="github">Github</a>      
      <a href="mailto:fankai@gmail.com" class="mail">Email</a>
      <div class="powered-by">
        <a href="#" title="msl12的小栈">Powered by msl12</a>&nbsp;
        <a href="#" title="msl12">Design by msl12</a>
      </div>
    </div><!-- footer -->
     <script src="/javascripts/jquery.js?1376388024" type="text/javascript"></script>
<script src="/javascripts/jquery-ujs.js?1376388024" type="text/javascript"></script>
<script src="/javascripts/application.js?1376388024" type="text/javascript"></script>
    <script type="text/javascript">
       $(function(){
    $('div.pagination').append(' 共73篇文章');
  });
       </script>
       <script type="text/javascript">
      // $('form#cse-search-box button#search-button').click(function(){
      //   window.open('http://guge.io/#q=' + $('form#cse-search-box input#search-box').val() + '+site:robbinfan.com');
      //   return false;
      // });
    </script>
  </body>
</html>